* {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 12px 100px;
}

.top {
  background-color: #1f2937;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
}
